<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.domain.mybatis.mappers.UserMapper" >

    <resultMap id="UserMap" type="com.domain.model.User" >
        <id  property="idUser" column="id_user" jdbcType="INTEGER" />
        <!--        <result  property="login" column="LOGIN" jdbcType="VARCHAR" />-->
        <!--        <result  property="password" column="PASSWORD" jdbcType="VARCHAR" />-->
        <!--        <result  property="email" column="EMAIL" jdbcType="VARCHAR" />-->
    </resultMap>


    <select id="selectUsers"  resultMap="UserMap">
        SELECT *
        FROM public.user
    </select>

    <select id="getUserByLogin" resultMap="UserMap">
        SELECT *
        FROM public.user
        WHERE        login = #{login}
    </select>


    <insert id="insertNewUser" parameterType="User">
<!--        <selectKey keyProperty="id_user" resultType="Integer" order="BEFORE">-->
<!--            select NEXTVAL('public.user_id_user_seq')-->
<!--        </selectKey>-->
        INSERT INTO public.user(
        login, password, email)
        VALUES (#{login}, #{password},  #{email});
        <selectKey keyProperty = "id_user" resultType = "Integer" order = "AFTER">
            select NEXTVAL('public.user_id_user_seq')
        </selectKey>
    </insert>

<!--    <insert id="insertUser" re-->
<!--    -->
<!--    @Insert("INSERT INTO MyBooks(Author, Title, Published, Remark) "-->
<!--    + "VALUES(#{author}, #{title}, #{published}, #{remark})")-->
<!--    Integer idUser, String login, String password, String email-->

<!--    nextval('user_id_user_seq'-->
    
</mapper>