<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.domain.mybatis.mappers.UserMapper" >

    <resultMap id="UserMap" type="com.domain.model.User" >
        <id  property="idUser" column="id_user" jdbcType="INTEGER" />
    </resultMap>


    <select id="selectUsers"  resultMap="UserMap">
        SELECT *
        FROM public.user
    </select>

    <select id="getUserByLogin" resultMap="UserMap">
        SELECT *
        FROM public.user
        WHERE        login = #{login}
    </select>


    <insert id="insertNewUser" parameterType="User">
        INSERT INTO public.user(
        login, password, email)
        VALUES (#{login}, #{password},  #{email});
        <selectKey keyProperty = "id_user" resultType = "Integer" order = "AFTER">
            select NEXTVAL('public.user_id_user_seq')
        </selectKey>
    </insert>

    <insert id="insertAllUsers" parameterType="java.util.ArrayList" useGeneratedKeys="true" keyProperty="idUser"  keyColumn="id_user">
        INSERT INTO public.user(login, password, email)
        VALUES
            <foreach collection="usersList" item="user" separator=",">
                (#{user.login}, #{user.password}, #{user.email})
            </foreach>
    </insert>

    <delete id="deleteUserByLogin" parameterType="java.lang.String">
        delete from public.user where login=#{login};
    </delete>

    <update id="updateUser" parameterType="User">
        UPDATE public.user
        <set>
            <if test="password =! null">
                password = #{password},
            </if>
            <if test="email =! null">
                email=#{email},
            </if>
        </set>
        WHERE login = #{login}
    </update>


    <delete id="deleteAllUsers" parameterType="java.util.ArrayList">

        DELETE FROM public.user WHERE login in
        <foreach collection="logins" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>

</mapper>